body {
  margin: 0;
  background-color: #f5f2e4;
}
.container {
  width: 100vw;
  height: 100vw;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 20px 1fr 1fr 1fr 1fr 1fr 1fr 100px;

  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 10px;
  /* border: 1px solid black; */
}

.header {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.embed-container {
  grid-column-start: 2;
  grid-column-end: 4;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mapDescription {
  grid-column-start: 1;
  grid-column-end: 2;

  display: block;
  margin-left: 30px;
  margin-right: 0px;
}

.floodZoneDefs {
  grid-column-start: 4;
  grid-column-end: 5;

  display: block;
  margin-left: 0px;
  margin-right: 30px;
}

.divider {
  grid-column-start: 1;
  grid-column-end: 5;
}

hr.rounded {
  border-top: 8px solid darkslategray;
  border-radius: 5px;
}

.visualizationTitle {
  grid-column-start: 1;
  grid-column-end: 5;

  font-family: sans-serif;
}

.selectToggle {
  display: flex;
  justify-content: center;
}

#weatherStation {
  height: 24px;
}

.weatherStationTotals {
  grid-column-start: 1;
  grid-column-end: 3;
}

#year {
  height: 24px;
}

.annualTotals {
  grid-column-start: 3;
  grid-column-end: 5;
}

.floodedHouses {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Times_Flooded {
  grid-column-start: 3;
  grid-column-end: 5;
}

.OOP_Expense {
  grid-column-start: 1;
  grid-column-end: 3;
}

.householdIncome {
  grid-column-start: 3;
  grid-column-end: 5;
}

.landUsage {
  grid-column-start: 1;
  grid-column-end: 3;
}

.floodingInFloodZones {
  grid-column-start: 3;
  grid-column-end: 5;
}
/* .axis text {
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
} */
.yAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.xAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.yAxis-Label {
  stroke: #57595a;
  fill: #57595a;
}

.yAxisPRCP {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  stroke: #57595a;
  fill: #57595a;
}
.xAxis-Label {
  font-family: "Open Sans", sans-serif;
  stroke: #57595a;
  fill: #57595a;
  font-size: 20pt;
}

.axis path,
.axis line {
  fill: none;
  stroke: #57595a;
  shape-rendering: crispEdges;
}

.x.axis text {
  font-size: 20pt;
}

.tick {
  stroke: #57595a;
  fill: #57595a;
  font-size: 16pt;
}

.oop_xAxis_tickLabel {
  stroke: #57595a;
  fill: #57595a;
  font-size: 10pt;
}

.timesFlooded_xAxis_tickLabel {
  stroke: #57595a;
  fill: #57595a;
  font-size: 16pt;
}

.floodedHouses_xAxis_tickLabel {
  stroke: #57595a;
  fill: #57595a;
  font-size: 14pt;
}

.weatherStation_xAxis_tickLabels {
  stroke: #57595a;
  fill: #57595a;
  font-size: 14pt;
}

.tick line {
  stroke: #c0c0bb;
}
rect {
  opacity: 0.75;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  fill: #57595a;
}

#tooltip-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip-bar-timesFlooded {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip-bar-oop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip-bar-income {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltipTrends {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* *Tooltip for Flooding in Flood Zones */
#tooltip-bar-floodingInFloodZones {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

iframe {
  max-width: 100%;
}

.page-title {
  font-family: "Open Sans", sans-serif;
}

.my-3 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}
.listText {
  font-family: "Open Sans", sans-serif;
}

.primaryButton {
  background-color: #004c73;
  font-size: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

.primaryButton:hover {
  background-color: #ce42f5;
}

.secondaryButton {
  background-color: #777c7b;
  font-size: 14px;
  color: white;
  padding: 10px 11px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

.secondaryButton:hover {
  background-color: #ce42f5;
}

.buttonText {
  font-family: sans-serif;
  font-size: 16px;
}
/* .embed-container {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
}

small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
} */
