.container {
  width: 100vw;
  height: 82vh;
  /* max-width: 1600px; */

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr;

  gap: 10px;

  padding: 10px;
  box-sizing: border-box;
}

.axis text {
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
}
.yAxis-Label {
  stroke: #57595a;
  fill: #57595a;
}

.yAxisPRCP {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  stroke: #57595a;
  fill: #57595a;
}
.xAxis-Label {
  stroke: #57595a;
  fill: #57595a;
  font-size: 20pt;
}

.axis path,
.axis line {
  fill: none;
  stroke: #57595a;
  shape-rendering: crispEdges;
}

.x.axis text {
  font-size: 20pt;
}

.tick {
  stroke: #57595a;
  fill: #57595a;
  font-size: 8pt;
}

.oop_xAxis_tickLabel {
  stroke: #57595a;
  fill: #57595a;
  font-size: 10pt;
}

.timesFlooded_xAxis_tickLabel {
  stroke: #57595a;
  fill: #57595a;
  font-size: 10pt;
}

.floodedHouses_xAxis_tickLabel {
  stroke: #57595a;
  fill: #57595a;
  font-size: 14pt;
}

.weatherStation_xAxis_tickLabels {
  stroke: #57595a;
  fill: #57595a;
  font-size: 14pt;
}

.tick line {
  stroke: #c0c0bb;
}
rect {
  opacity: 0.5;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  fill: #57595a;
}

#tooltip-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip-bar-times-flooded {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip-bar-oop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip-bar-householdIncoe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

#tooltipTrends {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}
