.container {
  max-width: 1600px;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
}
.yAxis-Label {
  stroke: #57595a;
  fill: #57595a
}

.xAxis-Label {
  stroke: #57595a;
  fill: #57595a
}

.axis path, .axis line {
  fill: none;
  stroke: #57595a;
  shape-rendering: crispEdges;
}

.x.axis text {
  font-size: 20pt;
}

.tick {
  stroke: #57595a;
  fill: #57595a
}

rect {
  opacity: .5;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  fill: #57595a;
}

/* .embed-container {
  position: relative; 
  padding-bottom: 80%; 
  height: 0; 
  max-width: 100%;
} 

.embed-container iframe, 
.embed-container object,  */

/* .embed-container iframe{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 60%; 
  height: 60%;
}  */

/* small{ 
  position: absolute; 
  z-index: 40;
   bottom: 0; 
   margin-bottom: -15px;
  } */

