body {
  margin: 0;
  background-color: #f5f2e4;
}
.container {
  width: 100vw;
  height: 100vh;

  /* margin: auto;
  width: 50%; */
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 1fr;

  gap: 10px;

  padding: 10px;
  box-sizing: border-box;
}
.header {
  grid-column-start: 2;
  grid-column-end: 4;
}
.selectToggle {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
}

.annualTotals {
  grid-column-start: 2;
  grid-column-end: 4;
}

.weatherStationTotals {
  grid-column-start: 2;
  grid-column-end: 4;
}

.floodedHouses {
  grid-column-start: 2;
  grid-column-end: 4;
}

.reportedFloodEvents {
  grid-column-start: 2;
  grid-column-end: 4;
}

.outOfPocketExpense {
  grid-column-start: 2;
  grid-column-end: 4;
}

.householdIncome {
  grid-column-start: 2;
  grid-column-end: 4;
}

.landUsage {
  grid-column-start: 2;
  grid-column-end: 4;
}

.buttons {
  grid-column-start: 2;
  grid-column-end: 4;
}
.foiaDataBarchart {
  grid-column-start: 2;
  grid-column-end: 4;
}

h1 {
  float: left;
  margin-left: 255px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(103, 107, 107);
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  fill: #57595a;
}

.tick {
  stroke: #57595a;
  fill: #57595a;
  font-size: 16pt;
}

.tick line {
  stroke: #c0c0bb;
}

.bar {
  opacity: 0.7;
}

#weatherStation {
  height: 24px;
}

.weatherStation_xAxis_tickLabels {
  stroke: #57595a;
  fill: #57595a;
  font-size: 14pt;
}

#year {
  height: 24px;
}

.xAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.yAxisPRCP {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  stroke: #57595a;
  fill: #57595a;
}

/* *Tooltip for Weather Station Totals */
#tooltipTrends {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* * Tooltip for Flooded Houses Chart */
#tooltip-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* *Y Axis Labels for Annual Preciptitation */
.yAxisAnnualLabels {
  font-size: 12pt;
}
/* *Tooltip for Annual Preciptiation Totals */
#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* *Tooltip for Times Flooded */
#tooltip-bar-timesFlooded {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* * Tooltip for OOP */
#tooltip-bar-oop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* * Tooltip for House Hold Income */
#tooltip-bar-income {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* *Tooltip for Flooding in Flood Zones */
#tooltip-bar-floodingInFloodZones {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* svg {
  background-color: rgb(240, 241, 241);
} */

.xAxisText {
  font-size: 20px;
}

.yAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.xAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.legendText {
  font-family: Arial, Helvetica, sans-serif;
  fill: black;
}

.primaryButton {
  background-color: #004c73;
  font-size: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

.primaryButton:hover {
  background-color: #ce42f5;
}

.secondaryButton {
  background-color: #777c7b;
  font-size: 14px;
  color: white;
  padding: 10px 11px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

.secondaryButton:hover {
  background-color: #ce42f5;
}

.buttonText {
  font-family: sans-serif;
  font-size: 16px;
}
