:root {
  --darkgray: #212329;
  --aqua: #09e2fa;
  --gray: #808080;
  --white: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* ? Navbar Styling */
.content {
  max-width: 1380px;
  margin: auto;
  padding: 0px 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
  background: #1b1b1b;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 10px 0;
  background: #1b1b1b;
  opacity: 85%;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #09e2fa;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 1255px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu-list.active {
    left: 0%;
  }
}

.navbar .menu-list li {
  margin-top: 45px;
}

.navbar .menu-list li a {
  font-size: 18px;
}

#navbar-logo {
  display: block;
  max-height: 100%;
  max-width: 20%;
  margin: 0px 0px;
}

#navbar-logo {
  cursor: pointer;
}

#navbar-logo {
  margin-left: 20px;
}

/* ?Container 1 Styling */
.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px;

  /* border: 2px solid magenta; */
  margin: 0 auto;

  max-width: 1380px;
}

.imageContainer {
  grid-column-start: 1;
  grid-column-end: 13;
}

.titleText {
  grid-column-start: 1;
  grid-column-end: 13;
  position: absolute;
  top: 40%;
  margin-left: 12%;
  margin-right: 20%;
  width: 16em;

  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: 800;
}

.titleImage {
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  max-width: 2160px;
}

#introduction {
  margin: 2em 0em 0em 0em;
  padding: 0em 0em 0em 2em;
}

.introductionParagraph {
  grid-column-start: 4;
  grid-column-end: 12;
}

.header {
  grid-column-start: 1;
  grid-column-end: 13;
  padding: 2em 0em 1em 2em;
}

.stormStatImage {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  margin: 5.5em 1em;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
}

.paragraph {
  grid-column-start: 2;
  grid-column-end: 12;
  text-align: justify;
  font-size: 1.4em;
  margin: 0em 1em 1em 1em;
}

.quote {
  grid-column-start: 2;
  grid-column-end: 12;

  text-align: center;
  font-style: italic;
  font-size: 1.4em;
  margin: 1em 1em 1em 1em;
}

.OOP_Expense {
  grid-column-start: 3;
  grid-column-end: 11;
}

.subheader {
  grid-column-start: 2;
  grid-column-end: 12;

  padding: 2em;
  font-style: oblique;
  text-align: center;
}

.householdIncome {
  grid-column-start: 3;
  grid-column-end: 11;
}

.twitterImage {
  grid-column-start: 3;
  grid-column-end: 11;

  width: 100%;
  max-width: 2160px;
  /* margin: 0px;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9); */
}

.precipitationTotals {
  grid-column-start: 1;
  grid-column-end: 4;
}

.weatherStationTotals {
  grid-column-start: 3;
  grid-column-end: 11;
}

.annualTotals {
  grid-column-start: 2;
  grid-column-end: 11;
}

.landUsage {
  grid-column-start: 5;
  grid-column-end: 12;
}

.landUsageParagraph {
  grid-column-start: 1;
  grid-column-end: 5;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: auto;
  resize: vertical;
  overflow: auto;
}

.youTube {
  grid-column-start: 3;
  grid-column-end: 11;

  width: 100%;

  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.youTube iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.FOIAParagraph {
  margin: 3em;
  grid-column-start: 1;
  grid-column-end: 5;

  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  height: auto;
  resize: vertical;
  overflow: auto;
}

.FOIAChart {
  margin: 1em;
  grid-column-start: 5;
  grid-column-end: 12;
}

.primaryButton {
  grid-column-start: 5;
  grid-column-end: 7;
}

.primaryButton {
  background-color: #004c73;
  font-size: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

.primaryButton:hover {
  background-color: #ce42f5;
}

.secondaryButton {
  background-color: #777c7b;
  font-size: 14px;
  color: white;
  padding: 10px 11px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
}

.secondaryButton:hover {
  background-color: #ce42f5;
}

.buttonText {
  grid-column-start: 7;
  grid-column-end: 12;

  font-family: sans-serif;
  font-size: 16px;
}

#siteswitch {
  grid-column-start: 2;
  grid-column-end: 12;

  width: 100%;
  height: 100vh;
}

.clickHere {
  grid-column-start: 2;
  grid-column-end: 4;
}

.container2 {
  display: grid;
  max-width: 90%;
  width: 90%;
  align-items: center;

  border: 2px solid magenta;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

/* *D3 Styling */
.yAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.xAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

axis path,
.axis line {
  fill: none;
  stroke: #57595a;
  shape-rendering: crispEdges;
}

.x.axis text {
  font-size: 20pt;
}

.tick {
  stroke: #57595a;
  fill: #57595a;
  font-size: 16pt;
}

.tick line {
  stroke: #c0c0bb;
}
rect {
  opacity: 0.75;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  fill: #57595a;
}

/* *Tooltip Styling */
/* ?Tooltip for Out Of Pocket Expense */
#tooltip-bar-oop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* ?Tooltip for Household Income Chart */
#tooltip-bar-income {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* ?Tooltip for Weather Station Precipitation Totals */
#tooltipTrends {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* ?Tooltip for Annual Precipitation Totals */
#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* ?Tooltip for Flooding in Flood Zones */
#tooltip-bar-floodingInFloodZones {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* ?Surveyed Household Itroduction Map */
.surveyedEmbed-container {
  grid-column-start: 1;
  grid-column-end: 13;

  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}
.surveyedEmbed-container iframe,
.surveyedEmbed-container object,
.surveyedEmbed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}

/* ? Map showing land devlopment increase between 1996 - 2016 */
.landUsageembed-container {
  grid-column-start: 4;
  grid-column-end: 10;
  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
  margin-bottom: 5em;
}
.landUsageembed-container iframe,
.landUsageembed-container object,
.landUsageembed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}

/* ?Are you in a flood zone */
.areYouInAFloodZoneembed-container {
  grid-column-start: 4;
  grid-column-end: 10;

  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}
.areYouInAFloodZoneembed-container iframe,
.areYouInAFloodZoneembed-container object,
.areYouInAFloodZoneembed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}

/* ? FOIA Map */
.FOIAembed-container {
  grid-column-start: 4;
  grid-column-end: 10;

  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}
.FOIAembed-container iframe,
.FOIAembed-container object,
.FOIAembed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}
.sidecar1 {
  grid-column-start: 4;
  grid-column-end: 10;

  position: relative;
  padding-bottom: 80%;
  height: 0;
  max-width: 100%;
}

.sidecar1 iframe,
.sidecar1 object,
.sidecar1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}
