.container {
  width: 100vw;
  height: 100vh;
  /* max-width: 1600px; */

  margin: auto;
  width: 50%;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr;

  gap: 10px;

  padding: 10px;
  box-sizing: border-box;
}

.selectToggle {
  display: flex;
  justify-content: center;
}
h1 {
  float: left;
  margin-left: 255px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(103, 107, 107);
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  fill: #57595a;
}

.tick {
  stroke: #57595a;
  fill: #57595a;
  font-size: 10pt;
}

.tick line {
  stroke: #c0c0bb;
}

.bar {
  opacity: 0.7;
}

.weatherStation_xAxis_tickLabels {
  stroke: #57595a;
  fill: #57595a;
  font-size: 14pt;
}

.yAxisPRCP {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  stroke: #57595a;
  fill: #57595a;
}

/* *Tooltip for Weather Station Totals */
#tooltipTrends {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* *Y Axis Labels for Annual Preciptitation */
.yAxisAnnualLabels {
  font-size: 12pt;
}
/* *Tooltip for Annual Preciptiation Totals */
#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* * Tooltip for OOP */
#tooltip-bar-oop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* * Tooltip for House Hold Income */
#tooltip-bar-income {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  background-color: rgba(34, 35, 36, 0.75);
  opacity: 0;
  pointer-events: none;
}

/* svg {
  background-color: rgb(240, 241, 241);
} */

.xAxisText {
  font-size: 16px;
}

.yAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.xAxisLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;

  stroke: #57595a;
  fill: #57595a;
}

.legendText {
  font-family: Arial, Helvetica, sans-serif;
  fill: black;
}
